h1 {
    text-align: center;
}

.special
{
  color:red;
}

#wrapper {
    text-align: center;
  }
  #inputZone {
    display: inline-block;
  }

  .node {
    cursor: pointer;
  }
  
  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
  
  .node text {
    font: 10px sans-serif;
  }
  
  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }