body {
    font-family: Helvetica;
    font-size: 14px;
    line-height: 1.42857143;
    color: rgb(242, 243, 250);
    background-color: rgb(50, 55, 66);
}

h1 {
    text-align: center;
    margin: 10px;
    font-size: 30px;
}

.special {
    color: red;
}

.boxWrapper {
    display: inline-block;
    width: 100%;
    padding: 20px;
}

#treePanel {
    height: 650px;
    border-radius: 20px;
    background-color: rgb(242, 243, 250);
    width: 100%;
    float: left;
    text-align: center;
}

#fullAssignmentPanel {
    position: fixed;
    right: -500px;
    width: 30%;
    padding-left: 20px;
    padding-bottom: 20px;
    transition: right 0.5s ease-in-out;
    background-color: rgb(50, 55, 66);
}

table,
th,
td {
    background-color: rgb(242, 243, 250);
    color: rgb(50, 55, 66);
}

.selected {
    fill: red;
}

#wrapper {
    text-align: center;
}

#inputZone {
    display: inline-block;
}

.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    width:100%;
    min-height: 500px;
}

table,
th,
td {
    border: 1px solid black;
}

.table-container {
    height: 500px;
    overflow-y: scroll;
  }

button {
border: none;
cursor: pointer;
appearance: none;
background-color: inherit;
float: right;
}